* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --header-blue: #2196f3;
  --subtitle-color: #757575;
  --logo-color-2-2: #000000;
  --hero-ways-background: rgba(47, 48, 58, 0.8);
  --title-color: #212121;
  --svg-background-color: #f5f4fa;
  --team-box-color: #f5f4fa;
  --social-icon-color: #afb1b8;
  --footer-color: #2f303a;
  --button-text-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --copy-rights-color: rgba(255, 255, 255, 0.4);
  --input-border-color: rgba(255, 255, 255, 0.3);
  --logo-font: Raleway;

  --section-padding: 94px;

  /*variables for markup visualisation - comment for homework*/
  --view-background-1: yellow;
  --view-background-2: grey;

  font-family: Roboto;
  font-style: normal;
}

body {
  display: flex;
  width: 1600px;
  height: 1990px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header menu items ------------------------------------- */
.main-menu-link {
  color: var(--title-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 80px;
}

.logo-container {
  display: block;
  margin-right: 85px;
  flex-wrap: inherit;
}

.menu-list {
  display: flex;
  margin-right: 305px;

  list-style-type: none;
}

.main-menu-link {
  margin-right: 50px;
}

.menu-block {
  display: block;
  line-height: 80px;
}

.contacts-list {
  display: flex;
  list-style-type: none;
}

/* .header-contacts ---------------------------------------*/
.header-contacts-item {
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  margin-right: 30px;
}

/* Links common styles ----------------------------------- */

/* links underline off */
.logo-link,
.main-menu-link,
.contact-link,
.instagram-link,
.twitter-link,
.facebook-link,
.linkedin-link,
.item-link {
  text-decoration: none;
}

/* Contact links */
.contact-link {
  color: var(--subtitle-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Banner ------------------------------------------------- */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1600px;
  height: 600px;
  background-image: url('../images/header.jpg');
}

.hero > h1 {
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  width: 695px;
}

.hero-ordering {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  border-radius: 4px;
  background: var(--header-blue);
  margin-top: 30px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  line-height: 38px;
}

/* Links common efects ------------------------------------*/

/* Items change its color */
.main-menu-link:hover {
  color: var(--header-blue);
}

.contact-link:hover {
  color: var(--header-blue);
}

/* links hover */
.link-hover .item-link:hover {
  text-decoration: none;
}

/* links focus */
.link-hover:focus
.item-link:focus

/* links visited */
.link-hover:visited
.item-link:visited {
  text-decoration: none;
}

/* Invisible headers of page boxes ------------------------*/
.hidden-title {
  position: absolute;
  color: rgba(255, 255, 255, 0);
}

/* Principle container ------------------------------------*/

.principles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1600px;
  /* padding-top: 94px; */
  /* padding-bottom: 94px; */
}

.principles-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;

  padding-top: var(--section-padding);
  /* padding-bottom: var(--section-padding); */
}

.principle-child {
  display: flex;
}

.principles-image {
  display: block;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;
  background-color: var(--svg-background-color);
}

.principle-header {
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.principle-description {
  color: var(--subtitle-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 270px;
}

/* ways of development container ------------------------- */
.ways-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1600px;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.ways-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: calc((100%-30px * 3) / 4); */
  margin: auto;
}

/* .ways-item:not(:last-child) {
  margin-right: 30px;
} */

.ways-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
}

.ways-image {
  width: 100%;
  height: auto;
}

.container-header {
  text-align: center;
  margin-bottom: 50px;
}

.container-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.ways-box > h3 {
  /* width: calc((100%-30px * 3) / 4); */

  color: var(--button-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ways-subtitle {
  color: var(--button-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ways-box,
.team-box,
.clients-box > h2 {
  color: var(--title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* web studio team container -------------------------------*/
.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1600px;
  background-color: var(--team-box-color);

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.team-box {
  display: flex;
  flex-direction: row;
  /* width: calc((100%-30px * 3) / 4); */
  justify-content: center;
}

/* .team-box :not(:last-child) {
  margin-right: 30px;
} */

.team-member-box {
  width: 270px;
  margin-right: 30px;
  background-color: var(--button-text-color);
}

.member-image {
  width: 270px;
  padding-bottom: 30px;
}

.member-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.member-responsibility {
  color: var(--subtitle-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

/* clients container ---------------------------------------*/
.clients-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1600px;

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.clients-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clients-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid;
  border-radius: 4px;
  border-color: var(--svg-background-color);
}

.clients-item-box:not(:last-child) {
  margin-right: 30px;
}

/* Footer. Logo Web Studio styles -------------------------*/

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1600px;
  height: 253px;
  padding-top: 45px;

  background-color: var(--footer-color);
}

.footer-main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 214px;
  align-items: baseline;
  width: 1170px;
}

/* --- Logo style */

.logo-1-2 {
  font-family: var(--logo-font);
  color: var(--header-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-2-2 {
  font-family: var(--logo-font);
  color: var(--logo-color-2-2);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-2-3 {
  font-family: var(--logo-font);
  color: var(--button-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-column {
  display: flex;
  flex-direction: column;
}

/* --- Address */
.footer-logo {
  width: 153px;
  padding-bottom: 8px;
}

.contacts-links {
  list-style-type: none;
}

.contact-item {
  padding-bottom: 9px;
}

.footer-address {
  font-style: normal;

  width: 231px;
  padding-right: 70px;
}

.address-post {
  color: var(--button-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  width: 230px;
}

.footer-social-list {
  width: 206px;
  height: 80px;
  padding-right: 95px;
}

/* --- Subscribe */
.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-subscribe {
  margin-bottom: 20px;

  color: var(--button-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 570px;
}

.footer-email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 12px;
  background-color: var(--footer-color);

  color: var(--contact-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  border: 1px solid var(--input-border-color);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 4px;
  background-color: var(--footer-color);
  border-radius: 4px;
}

.subscribe-button {
  margin-top: 0px;
  margin-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: none;
}

/* --- */
.copyright {
  margin-right: 0px;

  color: var(--copy-rights-color);
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Portfolio ----------------------------------------------*/
.portfolio-container {
  width: 1170px;

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  width: 1170px;
}

/* --- Portfolio menu */

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.portfolio-menu-list {
  display: flex;
  justify-content: center;
}

.portfolio-menu-list > .menu-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--view-background-2);
}

.menu-link {
  padding-left: 22px;
  margin-right: 6px;
  margin-left: 6px;

  border-radius: 4px;
  background-color: var(--svg-background-color);
  border-radius: 4px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;

  text-align: center;
  padding-top: 8px;
  padding-right: 22px;
  padding-bottom: 8px;
  line-height: 38px;
}

.menu-link:hover {
  color: var(--button-text-color);
  background: var(--header-blue);
}

/* --- Portfolio cards---------------------------------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
}

.portfolio-list > .portfolio-list-item {
  display: flex;
  justify-content: center;
  width: 370px;
  margin-bottom: 30px;

  border: 1px solid;
  border-color: var(--svg-background-color);
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.card-title {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-left: 24px;

  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.card-subtitle {
  color: var(--subtitle-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  margin-left: 24px;
  margin-bottom: 20px;
}

/* Rules order */
/* 1.Positioning */
/* 2.Block model */
/* 3.typography */
/* 4.Displaying */
